footer
  width: 100%
  background: w-bg
  color: w-text
  text-align: center
  padding: 1rem 0 1rem 0
  a
    color: w-text
    transition: all .3s
    &:hover
      opacity: .8
      text-decoration: none