ul.nav
  width: 100%
  background-color: w-bg
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  transition: all .3s
  li
    display: inline
    background: w-bg
    transition: all .3s
    margin-left: .5rem
    margin-right: .5rem
    &.right
      transition: all .3s
      float: right
      @media screen and (max-width: 900px) {
        display: none
      }
    &.logo
      float: left
    &:hover 
      opacity: .5
      background: sw-bg
    a
      display: block
      padding: 1rem
      text-align: center;
      text-decoration: none
      &.home
        width: 5rem
        margin-left: .5rem
        margin-right: .5rem
        background: url('./img/logo.png')
        background-size: contain
        background-position: center
        background-repeat: no-repeat