html, body
  scroll-behavior: smooth

.index-header1
  width: 100%
  height: 94vh
  background: url('https://frame.kitzu.me/cdn/49520')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  .overlay
    height: 100%
    display: flex
    text-align: center
    justify-content: center
    vertical-align: middle
    align-items: center
    .card
      width: 18rem
      height: auto

      background: w-bg
      color: w-text

      border-radius: 1rem
      justify-content: center

      padding: 1rem
      padding-bottom: 2rem
      margin-top: 10rem
      .profile
        width: 15rem
        height: 15rem
        background: coral

        border-radius: 100%

        padding: .2rem

        margin-top: -10rem
        margin-left: auto
        margin-right: auto
        margin-bottom: 1rem
        img
          width: 100%
          height: 100%
          border-radius: 100%
      .name
        margin-bottom: 1rem
        h2
          margin: 0
          margin-bottom: .5rem
        p
          margin: 0
        .subDesp
          font-size: 14px
          color: sw-text
      .socialLink
        a
          padding: .2rem .5rem 
          margin: .5rem
          margin-top: 0
          margin-bottom: 0
          border-radius: 5px
          transition: all .3s
          &:hover
            opacity: .4
            text-decoration: none
        .FB
          background-color: #3b5998
          color: text
        .TW
          background-color: #1CA1F3
          color: text
        .GH
          background-color: black
          color: text

.index-header4
  .container
    .card
      @media screen and (max-width: 900px)
        br
          display: none
        span.exp
          margin-left: 1rem

.index-header5
  .container
    .card
      text-decoration: none
      span
        text-decoration: underline
      span.desp
        margin-left: 1rem
        text-decoration: none
      p.lang
        width: 100%
        padding: 0
        margin: 0
        text-align: right
        span
          background: coral
          color: whitesmoke
          padding: .5rem
          border-radius: 5px

.index-header6
  .container
    flex-direction: column !important
    justify-content: center !important
    align-items: center
    align-content: center
    text-align: center
    .card
      width: 80% !important
      padding: 0 !important
      margin: 0 !important
      display: flex
      flex-direction: row
      .img-header
        width: 50%
        img
          width: 100%
          height: 100%
          border-radius: 1rem
      p
        padding: 1rem
        padding-bottom: 0 !important
        margin: 0
        justify-content: center
        text-align: center

.index-content
  max-width: 80ch
  height: auto

  padding: 1.5rem 2rem
  margin-left: auto
  margin-right: auto

  color: text
  h1, h4
    margin: 0
  h4
    padding-left: 1rem
  p
    padding-left: 1.5rem
  ul
    li
      margin-bottom: .5rem
  .container
    display: flex
    gap: 1rem
    flex-direction: row
    flex-wrap: wrap
    @media screen and (max-width: 900px)
      flex-direction: columns
      justify-content: center
      text-align: left
    .card
      width: 40%
      flex-grow: 2
      flex-shrink: 0
      background: w-bg
      color: w-text
      padding: 1rem
      padding-bottom: 1.5rem
      border-radius: 1rem
      transition: all .3s
      &:hover
        transform: scale(1.05)
      @media screen and (max-width: 900px)
        width: 80%
        margin-left: 1rem

#contact
  a
    color: text
    transition: all .3s
    &:hover
      color: text
      opacity: .5
      text-decoration: none
  .FB
    color: #758fc9
    a
      color: #758fc9
  .TW
    color: #1CA1F3
    a
      color: #1CA1F3
  .GH
    color: rgb(156, 156, 156)
    a
      color: rgb(156, 156, 156)

.index-parallax-big
  width: 100%
  height: 30vh

  background-attachment: fixed !important
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important

.index-parallax-small
  width: 100%
  height: 15vh

  background-attachment: fixed !important
  background-position: center !important
  background-repeat: no-repeat !important
  background-size: cover !important